html {
	height: 100%;
	font-size: 62.5%;
	line-height: 1;
}
body {
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	padding: 0;
	margin: 0;
}
.profile__main {
	height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
}
	@media (min-width: 768px) {
		.profile__main {
			display: flex;
		}
	}

.profile__main.dark {
	background-color: #333;
}

/* profile */
.profile__content-wrapper {
	width: 100%;
	max-width: 520px;
	padding: 11.2vw 5.6vw;
	box-sizing: border-box;
}
	@media (min-width: 480px) {
		.profile__content-wrapper {
			padding: 0 40px;
		}
	}
	@media (min-width: 768px) {
		.profile__content-wrapper {
			padding: 0;
			max-width: 600px;
		}
	}

.profile__image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.profile__main.dark .profile__image {
	border: 2px solid #f5f5f5;
}
.profile__heading {
	font-weight: 600;
	letter-spacing: -2px;
	font-size: 3rem;
	color: #222;
	padding: 0 5.6vw;
}
.profile__main.dark .profile__heading {
	color: #dcdcdc;
}
	@media (min-width: 480px) {
		.profile__heading {
			font-size: 4rem;
			padding: 0;
		}
	}
	@media (min-width: 768px) {
		.profile__heading {
			font-size: 4.8rem;
		}
	}

.profile__subheading {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: 300;
	color: #aaa;
	padding: 0 5.6vw;
}
.profile__main.dark .profile__subheading {
	color: #d0d0d0;
}
	@media (min-width: 480px) {
		.profile__subheading {
			padding: 0;
		}
	}

.profile__body {
	font-size: 1.6rem;
	line-height: 2.6rem;
	text-align: left;
	padding: 0 5.6vw;
}
.profile__main.dark .profile__body {
	color: #d0d0d0;
}
	@media screen and (min-width: 480px) {
		.profile__body {
			padding: 0 4rem;
		}
	}

.profile__body .link {
	color: #5694f1;
}
.profile__social-list {
	padding: 0;
	margin: 7vw 0;
}
	@media (min-width: 480px) {
		.profile__social-list {
			margin: 3.2rem 0;
		}
	}
	@media (min-width: 768px) {
		.profile__social-list {
			padding: 0 4rem;
		}
	}

.profile__social-list .profile__social-list-item {
	display: inline-block;
	list-style-type: none;
	margin: 0 1rem 1rem;
}
.profile__hr {
	border: none;
	border-top: 1px solid #eee;
	margin: 7vw 0;
}
.profile__main.dark .profile__hr {
	border-color: #5f5f5f;
}
	@media (min-width: 480px) {
		.profile__hr {
			margin: 3.2rem 0;
		}
	}

.social-link {
	width: 50px;
	height: 50px;
	display: block;
}
.social-link svg {
	position: relative;
	width: 100%;
	height: 100%;
}
.social-link svg {
	color: #DEDEDE;
	fill: #DEDEDE;
}
.profile__main.dark .social-link svg {
	color: #989898;
	fill: #989898;
}
.social-link:hover svg,
.profile__main.dark .social-link:hover svg {
	color: #FFF;
	fill: #FFF;
}
.social-link:hover {
	border-radius: 100%;
	color: transparent;
	fill: transparent;
	transform: scale(1.25);
	transition: background-color .5s, transform .5s ease-out;
}
.social-link.facebook:hover {
	background-color: #3B5998;
	border-radius: 100%;
}
.social-link.twitter:hover {
	background-color: #1DCAFF;
	border-radius: 100%;
}
.social-link.youtube:hover {
	background-color: #B31217;
	border-radius: 100%;
}
.social-link.linkedin:hover {
	background-color: #0077B5;
	border-radius: 100%;
}
.social-link.github:hover {
	background-color: #6E5494;
	border-radius: 100%;
}
.social-link.dribbble:hover {
	background-color: #EA4C89;
	border-radius: 100%;
}
.social-link.instagram:hover {
	background-color: #E1306C;
	border-radius: 100%;
}


